<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script>
      
function syncItems() {
  var theWindow = window.open('https://developer.posrocket.com/oauth/authorize/?redirect_uri=https://dev.b1pro.com:8888/CallbackItems&response_type=code&client_id=Q5cEUmPrnikN54RshVNh9XK7tUQGweOxUsU3tOMp&access_type=offline.');
  var theDoc = theWindow.document;
  var theScript = document.createElement('script');
  function injectThis() {
  setTimeout(function(){
  $('#id_sub_domain').val('sandbox_abs_2');
  $('#id_email').val('burger91@posrocket.com');
  $('#id_password').val('Sy6Bd9Zbgz');
  $('#submit-id-submit').click();
  },2000)
  }
  theScript.innerHTML = 'window.onload = ' + injectThis.toString() + ';';
  theDoc.body.appendChild(theScript);
  }

  setInterval(function(){
   // syncItems();
  
  },12000);
    </script> -->
  </head>
  <body>
    <iframe id="if1" width="100%" height="254" style="visibility:visible" src="http://www.google.com/custom?q=&btnG=Search"></iframe>
  </body>
</html>
